
@model IEnumerable<Dogue.EF.DATA.Photo>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="centerMe">Photos Tiles</h2>
    <p class="centerMe"><a href="@Url.Action("Index","Photos")">Table View</a></p>
    <div class="row centerme">
        @if ((User.IsInRole("Admin") && Request.IsAuthenticated) || (User.IsInRole("Photographer") && Request.IsAuthenticated))
        {

            <div class="col-md-6">
                @Html.ActionLink("Create New", "Create", "Photo")
            </div>

        }

        <div>
            
        </div>
    </div>


    @foreach (var item in Model)
    {
        <div class="galleryContainer">
            <div class="gContent">
                <a href="@Url.Action("Details", "Photos",new { id = item.PhotoID })" id=courseName><img src="~/Content/assets/img/portfolio/T_@item.PhotoUrl" class=" boxImage"/></a>


                @if (User.IsInRole("Admin"))
                {
                    <p class="galleryFooterLeft">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PhotoID })
                    </p>

                }
            </div>
        </div>
    }
</div>
