@model IEnumerable<Dogue.UI.MVC.Models.PortfolioViewModel>
@{
    /**/

    ViewBag.Title = "Portfolio";
}


<!-- End Portfolio Details Section -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Our clients come in all shapes and colors.  Dogue hires only the finest photographers to showcase our talent at their best.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-Dog">Dog</li>
                    <li data-filter=".filter-Cat">Cat</li>
                    <li data-filter=".filter-LargeLivestock">Large Livestock</li>
                    <li data-filter=".filter-Other">Other</li>
                </ul>
            </div>
        </div>
        
        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                if (item.FilterID > 0)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-@item.FilterName">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/@item.PhotoUrl " class="img-fluid" alt="@item.Title">
                            <div class="portfolio-info">
                                <h4>@item.Title</h4>
                                <p>@item.FilterName</p>
                                <div class="portfolio-links">
                                    <a href="~/Content/assets/img/portfolio/@item.PhotoUrl" data-gall="portfoliogallery" class="venobox" title="app 1"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="@item.AssetCallName"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section><!-- End Portfolio Section -->
